* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Jasnoszary kolor t쓰 dla wszystkich element雕 */
}

:root {
    --primary-color: #333; /* G雕ny kolor, u쯫wany dla tekstu i element雕 UI */
}

form {
    font-family: 'Mukta', sans-serif;
}

/* Pozosta쓴 style... */

.message-box {
    font-size: 16px;
    padding: 0.3rem 0;
}

.pd-x-28 {
    padding-left: 28.5%;
}

.input-container {
    width: 100%;
    display: flex;
    padding: 0.4rem 0;
}

label {
    padding-top: 0.8rem;
    font-size: 16px;
    display: block;
    color: var(--primary-color);
}

.input {
    padding: 0 0.5rem;
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    width: 100%;
    color: var(--primary-color);
    border-radius: 5px;
}

.alert {
    background-color: #ccc; /* Szary kolor t쓰 dla alert雕 */
    padding: 0.5rem;
    font-size: 17px;
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.2rem;
}

.btn-default {
    background: #666; /* Szary gradient dla przycisk雕 */
}

.btn-sec {
    background: #999; /* Ciemnoszary gradient dla przycisk雕 */
}

.btn-danger {
    background: #444; /* Ciemnoszary gradient dla przycisk雕 */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

.pb-10 {
    padding-bottom: 10px;
}

.tbl-container {
    font-family: 'Mukta', sans-serif;
    margin: 1.2rem 0;
}

    .tbl-container table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        color: var(--primary-color);
    }

        .tbl-container table th,
        .tbl-container table td {
            font-size: 16px;
            padding: 0.8rem;
            text-align: left;
        }

        .tbl-container table tr:nth-child(even) {
            background-color: #ddd; /* Jasnoszary kolor t쓰 dla wierszy tabeli */
        }
