* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff; /* Bia³y kolor t³a */
    --font-mukta: "Mukta", sans-serif;
    --primary-color: #555555; /* Kolor tekstu i elementów UI */
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.nav-bar {
    font-family: "Poppins", sans-serif;
    display: flex;
    padding: 1.1rem 0.5px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #545454; /* Szary kolor dolnej krawêdzi paska nawigacji */
}

.logo {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333333; /* Ciemniejszy odcieñ szaroœci dla tekstu */
}

.nav-link {
    list-style: none;
    display: flex;
}

    .nav-link > li {
        position: relative;
    }

        .nav-link > li a {
            padding: 0 1.2rem;
            text-decoration: none;
            font-size: 16px;
            color: #333333; /* Ciemniejszy odcieñ szaroœci dla tekstu */
        }

    .nav-link li a:hover {
        color: #666666; /* Œredni odcieñ szaroœci dla tekstu po najechaniu myszk¹ */
    }

.dropdown-nav-link {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    margin-top: 0.2rem;
    min-width: 6.5rem;
    transition: all 0.5s ease;
    visibility: hidden;
    padding: 1rem;
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
}

    .dropdown-nav-link li a {
        padding: 0.4rem 1rem;
        display: block;
    }

.nav-link li:hover > ul,
.nav-link li:focus-within > ul,
.nav-link li ul:hover,
.nav-link li ul:focus {
    visibility: visible;
}

.container {
    padding: 2rem;
    width: 100%;
}

.search-bar {
    width: 100%;
    padding: 0 2%;
}

    .search-bar input[type="text"] {
        padding: 0.7rem;
        border: 1px solid #cccccc; /* Œredni odcieñ szaroœci dla ramki pola wyszukiwania */
        border-radius: 0.25rem;
        font-size: 1rem;
        width: 25%;
    }

    .search-bar button {
        border-radius: 0.25rem;
        font-size: 1rem;
        padding: 0.7rem 0.9rem;
        border: none;
        background-color: #d1d1d1; /* Œredni odcieñ szaroœci dla t³a przycisku */
        color: #333333; /* Ciemniejszy odcieñ szaroœci dla tekstu */
        cursor: pointer;
    }

.movies {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.movie-card {
    padding: 2%;
    margin: 2%;
    width: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1), 0px 8px 32px rgba(17, 17, 26, 0.05);
    cursor: pointer;
}

    .movie-card:hover {
        cursor: pointer;
        box-shadow: 0px 18px 30px rgba(17, 17, 26, 0.1), 0px 8px 32px rgba(17, 17, 26, 0.05);
    }

.movie-image img {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: right;
}

    .pagination a {
        color: #333333; /* Ciemniejszy odcieñ szaroœci dla tekstu */
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .pagination a.active {
            background-color: #a91eff; /* Fioletowy kolor t³a aktywnej strony */
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #dddddd; /* Jasnoszary kolor t³a po najechaniu myszk¹ */
        }

footer {
    width: 100%;
    height: 3rem;
    background-color: #f0f0f0; /* Jasnoszary kolor t³a stopki */
    font-size: 1rem;
    font-family: var(--font-mukta);
    padding: 1% 2%;
    text-align: right;
}

/* Utility classes */
.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 60%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.error {
    color: red;
}

.success {
    color: green;
}

.mb-1 {
    margin-bottom: 0.7rem;
}

.mt-1 {
    margin-top: 0.7rem;
}

.pt-1 {
    padding-top: 0.7rem;
}

.pb-1 {
    padding-top: 0.7rem;
}

.m-auto {
    margin: auto;
}

/* Responsive design */
@media (max-width: 920px) {
    .movie-card {
        width: 21%;
    }
}

@media (max-width: 600px) {
    .movie-card {
        width: 46%;
    }

    .movie-detail {
        display: flex;
        flex-direction: column;
    }

    .detail-container {
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 96%;
    }
}
