
<!DOCTYPE html>
<html>
<head>
    <title>O nas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
        }

        h2 {
            color: #4CAF50;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 50px auto;
        }

        .quote {
            font-style: italic;
            color: #777;
        }

        .highlight {
            background-color: #ffffcc;
            padding: 5px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Cześć użytkowniku, @Model.Username</h2>
        
        <p>
            "Nasza księgarnia" to <span class="highlight">innowacyjna platforma internetowa</span>, która umożliwia pasjonatom literatury zarządzanie swoją kolekcją
            książek oraz swobodne wyszukiwanie tytułów. Choć nie jest miejscem, w którym można dokonywać zakupów, to oferuje wiele innych
            funkcjonalności, aby ułatwić organizację i eksplorację literatury.
        </p>

        <p>
            Na platformie "Naszej Księgarni" użytkownicy mogą tworzyć swoje cyfrowe biblioteki, dodając do nich książki, które posiadają
            lub chcieliby przeczytać. Mogą one również przeglądać i odkrywać nowe tytuły za pośrednictwem zaawansowanego systemu wyszukiwania,
            który umożliwia filtrowanie wyników według kategorii, gatunków, autorów i innych parametrów.
        </p>

        <p class="quote">
            "Ważnym elementem naszej platformy jest możliwość interakcji z innymi miłośnikami książek."
        </p>

        <p>
            Użytkownicy mogą recenzować książki, dodawać je do list życzeń oraz dzielić się swoimi opiniami i rekomendacjami z innymi członkami społeczności. To miejsce, gdzie
            można się inspirować, wymieniać się doświadczeniami czytelniczymi oraz odkrywać nowe tytuły dzięki rekomendacjom innych użytkowników.
        </p>

        <p>
            Dodatkowo, "Nasza Księgarnia" oferuje w pełni responsywny interfejs, który umożliwia korzystanie z platformy na różnych
            urządzeniach mobilnych, zapewniając dostęp do cyfrowej biblioteki w dowolnym miejscu i czasie.
        </p>

        <p class="quote">
            "Naszym celem jest stworzenie otwartego i inspirującego środowiska dla miłośników książek."
        </p>

        <p>
            Chociaż nie dokonuje się na naszej platformie transakcji zakupu książek, to jest to miejsce, które kładzie nacisk na społeczność
            czytelniczą i rozwijanie pasji do literatury poprzez możliwość organizacji, recenzowania i dzielenia się książkami.
        </p>
    </div>

</body>
</html>
